services:
  spark-master:
    image: apache/spark:3.5.7
    container_name: spark-master
    environment:
      SPARK_MODE: master
      SPARK_HOST_MODE: spark-master
      SPARK_MASTER_PORT: 7077
      SPARK_MASTER_WEBUI_PORT: 8080
    ports:
      - "8080:8080" # web ui
      - "7077:7077" # spark master
    volumes:
      - ./data/raw:/data/raw
      - ./data/clean:/data/clean
    networks:
      - spark-network
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master

  spark-worker:
    image: apache/spark:3.5.7
    container_name: spark-worker
    environment:
      SPARK_MASTER: spark://spark-master:7077
      SPARK_WORKER_PORT: 8081
      SPARK_WORKER_MEMORY: 2g
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_WEBUI_PORT: 8081
    ports:
      - "8081:8081"
    depends_on:
      - spark-master
    volumes:
      - ./data/raw:/data/raw
      - ./data/clean:/data/clean
    networks:
      - spark-network
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077

  pyspark-app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: pyspark-app
    environment:
      SPARK_MASTER_URL: spark://spark-master:7077
    depends_on:
      - spark-master
      - spark-worker
    volumes:
      - ./app:/app
      - ./data/raw:/data/raw
      - ./data/clean:/data/clean
    networks:
      - spark-network
    command: 
      [
        "/opt/spark/bin/spark-submit",
        "--master",
        "spark://spark-master:7077",
        "/app/main.py"
      ]

networks:
  spark-network: