services:
  db:
    image: mysql
    container_name: mysql_container
    environment:
       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
       MYSQL_DATABASE: test_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - db-net
    ports:
      - "3307:3306"
    env_file:
      - .env

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    networks:
      - db-net
    # env_file:
    #   - .env

volumes:
  db_data:

networks:
  db-net:

# docker-compose up -d