stages:
  - test
  - build
  - deploy

variables:
  DOCKER_IMAGE: $DOCKERHUB_USERNAME/cafe-app
  DOCKER_TAG: $CI_COMMIT_SHORT_SHA

lint:
  stage: test
  tags:
    - exercice2
  image: python:3.11-slim
  before_script:
    - pip install flake8
  script:
    - flake8 src/ tests/ --max-line-length=120 --exclude=__pycache__ --ignore E,F,W
  
unit_tests:
  stage: test
  image: python:3.11-slim
  tags:
    - exercice2
  before_script:
    - pip install -r requirements.txt
  script:  
    - pytest tests/ -v --cov=src --cov-report=html
    # - pytest tests/ --cov=src --cov-fail-under=80

  artifacts:
    paths:
      - htmlcov/
    expire_in: "1 day"

build-image:
  stage: build
  image: docker:24
  tags:
    - exercice2
  services:
    - name: docker:24-dind
      alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t $DOCKER_IMAGE:v1.0.0 .
  rules:
    - if: "$CI_COMMIT_BRANCH == 'main'"
      when: always
  

deploy:
  stage: deploy
  image: docker:24
  tags:
    - exercice2
  needs:
    - build-image
  services:
    - name: docker:24-dind
      alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - docker push $DOCKER_IMAGE:$DOCKER_TAG
    - docker push $DOCKER_IMAGE:latest
  after_script:
    - docker logout
  rules:
    - if: "$CI_COMMIT_BRANCH == 'main'"
      when: always
